.gsp-radio .divide {
    display: inline-block;
    border: 1px solid #318ccf;
    padding: 3px 15px;
    font-size: 16px;
}

.gsp-radio .md {
    font-size: 16px;
}

.gsp-radio .lg {
    font-size: 18px;
}

.gsp-radio .sm {
    font-size: 14px;
}


.gsp-radio .divide:first-child {
    border-right-width: 0px;
    border-radius: 5px 0px 0px 5px;
}

.gsp-radio .divide:last-child {
    border-left-width: 0px;
    border-radius: 0px 5px 5px 0px;
}

.gsp-radio .radio-active {
    background-color: #318ccf;
    color: #ffffff;
}

.gsp-radio .radiogroup > label {
    color: black;
    margin-left: 0.5em;
}

.gsp-radio input[type="radio"] {
    height: 20px;
    width: 20px;
    vertical-align: sub;
}
