.form-group-input {
    border-bottom: 1px solid rgb(221, 218, 218);
    padding: 0 15px;
    background-color: white;
    height: 44px;
}

.form-group-input>label {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    color: black;
    font-size: 17px;
    padding: 8px 0 12px 0;

}

.form-group-input>input[type="text"] {
    border: none;
    font-size: 18px !important;
    padding: 11px 4px;
    width: 95%;
}

input::-webkit-input-placeholder {
    color: #aab2bd;
    font-size: 17px;
}


/* label {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    margin-bottom: 0px;
} */
