.btn-inspur {
    background-color: #318ccf;
}

.gutter {
    margin: 1% 1% 1% 1%;
}

.btncol-12 {
    width: 98%;
}

/* .btncol-11 {
    width: 91.66666667%;
}

.btncol-10 {
    width: 83.33333333%;
}

.btncol-9 {
    width: 75%;
}

.btncol-8 {
    width: 66.66666667%;
}

.btncol-7 {
    width: 58.33333333%;
} */

.btncol-6 {
    width: 48%;
}

/* .btncol-5 {
    width: 41.66666667%;
} */

.btncol-4 {
    width: 31.33333333%;
}

.btncol-3 {
    width: 23%;
}

/* .btncol-2 {
    width: 16.66666667%;
}

.btncol-1 {
    width: 8.33333333%;
} */