.gsp-footer .buttonHeight-lg {
    font-size: 18px;
    height: 56px;
}

.gsp-footer .buttonHeight-sm {
    font-size: 14px;
    height: 44px;
}

.gsp-footer .py-11 {
    padding: 11px 0;
}

.gsp-footer .py-15 {
    padding: 15px 0;
}

.gsp-footer .w-33 {
    width: 33.3%;
}