.gsp-listview {
    border-bottom: 1px solid rgb(221, 218, 218);
    padding: 0 15px;
    background-color: white;
    height: 44px;
}

.gsp-listview > label {
    font-size: 17px;
    color: black;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 0;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    overflow:hidden;
}

.gsp-listview .content-required:after {
    content: '*';
	color: rgb(247, 46, 46);
}

.gsp-listview .itemContent > label {
    font-size: 17px;
    color: black;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 0;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    overflow:hidden;
}

.gsp-listview .itemContent > input[type="text"] {
    color: black;
    border: none;
    width: 45%;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
