.nav-tabs {
    width: 100%;
    height: 40px;
    /* position: fixed; */
    top: 56px;
    z-index: 999;
}

.nav-tabs div {
    float: left;
    background: #fff;
    color: #555;
    padding: 10px 0px;
    text-align: center;
    line-height: 18px;
}

.nav-tabs div.twoCols {
    position: relative;
    width: 50%;
}

.nav-tabs div.threeCols {
    position: relative;
    width: 33.3333%;
}

.nav-tabs div.fourCols {
    position: relative;
    width: 25%;
}

.nav-tabs div.fiveCols {
    position: relative;
    width: 20%;
}

/* .nav-tabs div.active {
    border-bottom: 2px solid #318ccf;
    color: #318ccf;
} */

.nav-tabs .oneway:after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 50%;
}

.nav-tabs .fiveCols {
    width: 20.0%;
}

.nav-tabs .fourCols {
    width: 25.0%;
}

.nav-tabs .threeCols {
    width: 33.3333%;
}

.nav-tabs .twoCols {
    width: 50%;
}


/* twoCols */

.nav-tabs .twoCols:first-child:after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}


/* threeCols */

.nav-tabs .threeCols:nth-child(1):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}

.nav-tabs .threeCols:nth-child(2):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}


/* fourCols */

.nav-tabs .fourCols:nth-child(1):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}

.nav-tabs .fourCols:nth-child(2):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}

.nav-tabs .fourCols:nth-child(3):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}


/* fiveCols */

.nav-tabs .fiveCols:first-child:after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}

.nav-tabs .fiveCols:nth-child(2):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}

.nav-tabs .fiveCols:nth-child(3):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}

.nav-tabs .fiveCols:nth-child(4):after {
    content: "|";
    color: #ccc;
    position: absolute;
    right: 0%;
}


/* border-bottom-line */
/* .nav-tabs .line-2 {
    width: 50%;
    height: 1px;
    background-color: #318ccf;
    margin: 38px 0 0 0;
}

.nav-tabs .no2right-1 {
    transform: translateX(100%) 0.5s;
}
.nav-tabs .no2left-1 {
    transform: translateX(0%) 0.2s;
} */

/* @keyframes no2right-1 {
    0% {left: 0;}
    100% {left: 50%;}
}
@keyframes no2right-1 {
    0% {left: 0;}
    100% {left: 50%;}
} */