.spin {
    position: fixed;
    left: 0;
    top: 56px;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999;
}

.spin .theIcon {
    position: fixed;
    top: 50%;
    left: 50%;
    /* margin-left: -15px; */
}