.ticketInfo > label {
    font-size: 16px;
    color: black;
    margin-top: 8px;
}


.horizontalSlide {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.horizontalSlide .wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}